.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__main-header {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
        text-transform: uppercase;
    }
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__block {
        width: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__header {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
    }
    &__descr {
        margin-top: 26px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color: #0d0d0d;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
}