@media (max-width: 1024px) {
    .header {
        justify-content: space-around;
    }
    .promo {
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__wrapper {
            align-items: center;
        }
    }
    .advantages {
        &__wrapper {
            justify-content: space-around;
        }
    }
}

@media (max-width: 768px) {
    .advantages {
        &__wrapper {
            justify-content: center;
        }
        &__block {
            width: 200px;
            margin: 0 12px 0 12px;
        }
        &__header {
            font-size: 16px;
        }
        &__descr {
            font-size: 13px;
        }
    }
}

@media (max-width: 650px) {
    .header {
        &__official {
            display: none;
        }
    }
    .advantages {
        &__main-header {
            font-size: 22px;
        }
        &__wrapper {
            margin: 0;
            margin-top: 35px;
            flex-direction: column;
            align-items: center;
        }
        &__block:not(:first-child) {
            margin: 0;
            margin-top: 30px;
            width: 270px;
        }
        &__header {
            margin: 0;
            margin-top: 15px;
        }
        &__descr {
            margin: 0;
            margin-top: 15px;
        }
    }
}

@media (max-width: 425px) {
    .header {
        justify-content: center;
        &__logo {
            width: 195px;
        }
        img {
            width: 97%;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        &__header {
            font-size: 27px;
        }
        &__subheader {
            font-size: 16px;
        }
        &__icons {
            width: 335px;
        }
    }
}

@media (max-width: 375px) {
    .header {
        flex-direction: column-reverse;
        &__logo {
            margin-top: 20px;
        }
    }
    .promo {
        &__header {
            font-size: 22px;
        }
        &__subheader {
            font-size: 13px;
        }
        &__icons {
            width: 300px;
        }
    }
    .button_main {
        width: 250px;
    }
}